$darkblue: #96C3CC;
$lightblue:  #D3ECED;
$MainFont:  'Architects Daughter', cursive;

///////////////////////////////////////////////
DESIGN
///////////////////////////////////////////////


body {
	background-color: #FFFFFF;
}

#mainContentWrapper #loginPage, #mainContentWrapper #registerPage {
	text-align: center;
}

.loginFrameContainer, .registerFrameContainer {
	width: 30%;
	left: 35% !important;
	position: relative;
	padding: 20px;
	margin-top: 10px;
	background-color: #96C3CC;
}

.loginContainer, .registerContainer {
	background-color: #96C3CC;
	border: dotted 2px black;
}

.loginContainer h1, .registerContainer h1 {
	font-family: 'Architects Daughter', cursive;
	margin-top: -22px;
}

.h1bg {
	width: 110px;
	background-color: #96C3CC;
	left: 35%;
	position: relative;
}

.h1bgRegister {
	width: 185px;
	background-color: #96C3CC;
	left: 25%;
	position: relative;
}

#form form {
	padding-left: 10%;
	margin-bottom: 110px;
}

.lastLabel {
	margin-bottom: 40px;
}

.loginContainer p, .registerContainer p {
	text-align: left;
	font-size: 18px;
	font-family: 'Architects Daughter', cursive;
}

input.inputField {
	width: 300px;
	height: 35px;
}

input.button {
	width: 120px;
	font-size: 18px;
    	font-family: 'Architects Daughter', cursive;
	background-color: #D3ECED;
	border: dotted 2px black;
}

.firstButton {
	float: left;
}

.secondButton {
	float: right;
	right: 38px;
}

.buttonSize {
	width: 116px;
	height: 30px;
	border: black dotted 2px;
	line-height: 2em;
}

.buttonLookLink {
	font-size: 18px;
    	font-family: 'Architects Daughter', cursive;
	background-color: #D3ECED;
	text-decoration: none;
	color: #000 !important;
}

.buttonFrameContainer {
	width: 120px;
	position: relative;
	padding: 2px;
	background-color: #D3ECED;
}

.headerContainer {
	width: 80%;
	border-top: dotted 2px black;
	border-bottom: dotted 2px black;
	text-align: center;
	left: 10%;
	position: relative;
}

#topContentWrapper {
	margin-bottom: 50px;
}

.logo {
	height: 130px;
	width: auto;
}

.libelle {
	height: 100px;
	position: absolute;
	left: 10%;
	margin-top: 15px;
}
