DESIGN
body {
  background-color: #FFFFFF; }

#mainContentWrapper #loginPage, #mainContentWrapper #registerPage {
  text-align: center; }

.loginFrameContainer, .registerFrameContainer {
  width: 30%;
  left: 35% !important;
  position: relative;
  padding: 20px;
  margin-top: 10px;
  background-color: #96C3CC; }

.loginContainer, .registerContainer {
  background-color: #96C3CC;
  border: dotted 2px black; }

.loginContainer h1, .registerContainer h1 {
  font-family: "Architects Daughter", cursive;
  margin-top: -22px; }

.h1bg {
  width: 110px;
  background-color: #96C3CC;
  left: 35%;
  position: relative; }

.h1bgRegister {
  width: 185px;
  background-color: #96C3CC;
  left: 25%;
  position: relative; }

#form form {
  padding-left: 10%;
  margin-bottom: 110px; }

#searchResultPage #form form, #searchPage #form form {
  margin-bottom: 110px;
  padding-left: 0% !important; }

#searchResultPage #form form {
  margin-left: -430px; }

.lastLabel {
  margin-bottom: 40px; }

.loginContainer p, .registerContainer p {
  text-align: left;
  font-size: 18px;
  font-family: "Architects Daughter", cursive; }

.searchLabel {
  text-align: center;
  font-size: 48px;
  font-family: "Architects Daughter", cursive;
  margin-top: 200px; }

.darkBlue {
  color: #96C3CC; }

.searchLabel input.inputField {
  margin-left: 20px;
  height: 46px;
  border-style: dotted; }

#searchPage .searchLabel input.inputField {
  padding-top: 17px !important; }

input.inputField {
  max-width: 300px;
  width: 90%;
  height: 35px; }

input.button {
  width: 120px;
  font-size: 18px;
  font-family: "Architects Daughter", cursive;
  background-color: #D3ECED;
  border: dotted 2px black; }

.firstButton {
  float: left; }

.secondButton {
  float: right;
  right: 38px; }

.buttonSize {
  width: 116px;
  height: 30px;
  border: black dotted 2px;
  line-height: 2em;
  text-align: center; }

.buttonLookLink {
  font-size: 18px;
  font-family: "Architects Daughter", cursive;
  text-decoration: none;
  color: #000 !important; }

.buttonFrameContainer {
  width: 120px;
  position: relative;
  padding: 2px;
  background-color: #D3ECED; }

.buttonFrameContainerLogState {
  width: 120px;
  position: relative;
  padding: 2px;
  background-color: #96C3CC; }

.headerContainer {
  width: 80%;
  border-top: dotted 2px black;
  border-bottom: dotted 2px black;
  text-align: center;
  left: 10%;
  position: relative; }

#topContentWrapper {
  margin-bottom: 50px; }

.logo {
  height: 130px;
  width: auto; }

.libelle {
  height: 100px;
  position: absolute;
  left: 10%;
  margin-top: 15px; }

.h1Search {
  text-align: center;
  font-family: "Architects Daughter", cursive; }

/*.firstLogState {
	margin-right: 10px;
}*/
.left {
  float: left; }

.marginRightLogState {
  margin-right: 10px; }

#logState {
  margin-top: 150px;
  position: absolute;
  right: 10.5%;
  top: 0;
  /*float: right;
  margin-right: 10%;
  margin-top: -180px; */ }

.searchIcon {
  font-family: FontAwesome !important;
  font-size: 0.75em !important;
  width: 55px !important;
  margin-left: -22px;
  margin-top: -10px !important;
  background-color: #96C3CC !important; }

#searchResultPage {
  margin-top: -170px; }

#searchResultPage p.darkBlue.searchLabel {
  font-size: 28px;
  margin-left: -5%; }

#searchResultPage .searchLabel input.inputField {
  height: 30px;
  padding-top: 7px; }

#searchResultPage h2 {
  margin-left: 10%;
  margin-top: -80px;
  font-family: "Architects Daughter", cursive;
  text-decoration: underline; }

#searchResultPage ul {
  margin-left: 7%;
  list-style: none;
  line-height: 3em;
  font-size: 28px;
  font-family: "Architects Daughter", cursive; }

#searchResultPage ul li a {
  text-decoration: none;
  color: #000 !important; }

#searchResultPage input.inputField {
  font-size: 20px;
  font-family: inherit;
  padding: 5px; }

#searchPage input.inputField {
  font-size: 30px;
  font-family: inherit;
  padding: 10px; }

#loginPage input.inputField, #registerPage input.inputField {
  font-family: inherit;
  font-size: 18px;
  padding: 5px; }

/*# sourceMappingURL=default.css.map */
