$darkblue: #96C3CC;
$lightblue:  #D3ECED;
$lightred: #F3E0E1;
$darkred: #E1AFB1;
$lightgreen: #D3E2D8;
$darkgreen: #879D8E;
$lightbrown: #D6D5C5;
$mainFont:  'Architects Daughter', cursive;


///////////////////////////////////////////////
FLOAT CLEARFIX
///////////////////////////////////////////////

.clearfix:after{
    content: "."!important;
    clear: both!important;
    display: block!important;
    visibility: hidden!important;
    height: 0px!important;
}

///////////////////////////////////////////////
DESIGN
///////////////////////////////////////////////

///// GENERAL /////
body {
	background-color: #FFFFFF;
}

#mainContentWrapper #loginPage, #mainContentWrapper #registerPage, #mainContentWrapper #profilePage, #errorPage {
	text-align: center;
}

.left {
	float: left;
}

.right {
	float: right;
}

.marginRightLogState {
	margin-right: 10px;
}

#logState {
	margin-top: 150px;
  	position: absolute;
  	right: 10.5%;
  	top: 0;
	
	.LogedInHelloState {
		font-family: $mainFont;
		font-size: 18px;
		float: left;
		margin: 7px 15px;
		
		a {
			color: #000;
		}
	}
}



.buttonFrameContainerLogState {
	width: 120px;
	position: relative;
	padding: 2px;
	background-color: $darkblue;
}

.headerContainer {
	width: 80%;
	border-top: dotted 2px black;
	border-bottom: dotted 2px black;
	text-align: center;
	left: 10%;
	position: relative;
}

#topContentWrapper {
	margin-bottom: 50px;
}

.logo {
	height: 130px;
	width: auto;
}

.libelle {
	height: 100px;
	position: absolute;
	left: 10%;
	margin-top: 15px;
}

input {
	
	&.inputField {
		width: 100%;
		height: 35px;
	}
	
	&.button {
		width: 120px;
		font-size: 18px;
		font-family: $mainFont;
		background-color: $lightblue;
		border: dotted 2px black;
	}
	
	&.buttonStory {
		width: 145px;
		font-size: 18px;
		font-family: $mainFont;
		background-color: $darkblue;
		border: dotted 2px black;
		cursor: pointer;
	}
	
	&.buttonStoryInfo {
		width: 145px;
		font-size: 0.8em;
		font-family: $mainFont;
		background-color: $darkred;
		border: dotted 2px black;
		cursor: pointer;
	}	
}

.fancybox-wrap {
	position: absolute !important;
}


///// NEEDED FOR MORE PAGES /////

.loginFrameContainer, .registerFrameContainer {
	width: 30%;
	min-width: 300px;
	margin: 0 auto;
	position: relative;
	padding: 20px;
	margin-top: 10px;
	background-color: $darkblue;
}

.loginContainer, .registerContainer {
	background-color: $darkblue;
	border: dotted 2px black;
	padding: 0% 5%;
	
	h1 {
		font-family: $mainFont;
		margin-top: -22px;
		font-size: 1.6em;
	}
}

.infoLink {
	margin-top: 20px;
	text-align: center;
	margin: 0 auto;
	
	a {
		color: #000;
		text-decoration: none;
	}
}


#loginPage input.inputField, #registerPage input.inputField, #profilePage input.inputField, #userEditPage input.inputField {
	font-family: inherit;
	font-size: 18px;
	padding: 5px;
}

.firstButton {
	float: left;
}

.secondButton {
	float: right;
}

.buttonSize {
	width: 116px;
	height: 32px;
	border: black dotted 2px;
	line-height: 2em;
	text-align: center;
}

.buttonLookLink {
	font-size: 18px;
    	font-family: $mainFont;
	text-decoration: none;
	color: #000;
}

.buttonFrameContainer {
	width: 120px;
	position: relative;
	padding: 2px;
	background-color: $lightblue;
}

.searchLabel input.inputField {
	margin-left: 20px;
	height: 46px;
	border-style: dotted;
}

.lastLabel {
	margin-bottom: 40px;
}

.loginContainer p, .registerContainer p, .profileContainer p, .errorContainer p {
	text-align: left;
	font-size: 18px;
	font-family: $mainFont;
}

.searchLabel {
	text-align: center;
	font-size: 48px;
	font-family: $mainFont;
	margin-top: 200px;
}

.darkBlue {
	color: $darkblue;
}


///// PAGES /////

#profilePage {

	.profileContainer {
		border: dotted 2px black;
			
		h1 {
			font-family: $mainFont;
			margin-top: -22px;
			font-size: 1.6em;
		}
	}
	
	.myInfoContainer {
		background-color: $lightred;
		border: dotted 2px black;
		
		#content {
			padding: 0px 20px 20px 20px;
			overflow: auto;
			width: 90%;
			left: 5%;
			position: relative;
			
			.firstColumn {
				width: 50%;	
			}
		}
	}
	
	.myStoryContainer {
		background-color: $lightblue;
		border: dotted 2px black;
		
		#content {
			position: relative;
			overflow: auto;
			width: 90%;
			left: 5%;
		}
	}
	
	.h1bgProfile {
		width: 140px;
		background-color: #fff;
		margin: 0 auto;
		position: relative;
	}
	
	.h1bgProfileInfo {
		width: 140px;
		background-color: $lightred;
		margin: 0 auto;
		position: relative;
	}

	.h1bgProfileStory {
		width: 200px;
		background-color: $lightblue;
		margin: 0 auto;
		position: relative;
	}
	
	.profileFrameContainer {
		width: 75%;
		min-width: 430px;
		margin: 0 auto;
		position: relative;
		padding: 20px;
		margin-top: 10px;
	}
	
	.myInfoFrameContainer {
		width: 90%;
		margin: 0 auto;
		position: relative;
		padding: 20px;
		margin-top: 10px;
		background-color: $lightred;
		margin-bottom: 30px;
	}

	.myStoryFrameContainer {
		width: 90%;
		margin: 0 auto;
		position: relative;
		padding: 20px;
		margin-top: 10px;
		background-color: $lightblue;
		margin-bottom: 30px;
	}
	
	.storyTitle {
		margin-top: 5px;
		text-align: center;
		font-size: 0.9em;
	}
	
	.profileLable {
		margin-right: 20px;
		width: 110px;
		float: left;
	}
	
	

	.storyPic, .profilePic {
		width: 130px;
	}
	
	.storyPicFrame {
		width: 130px;
		height: 150px;
		background-color: #96C3CC;
		padding: 10px;
		margin: 20px;
		margin-bottom: 65px;
		float: left;
		
		a {
			text-decoration: none;
			color: #000;
		}
	}
	
	.buttonFrameContainerStory {
		width: 145px;
		position: relative;
		padding: 2px;
		background-color: $darkblue;
		margin-left: -10px;
		margin-top: -10px;
	}

	.buttonFrameContainerStoryInfo {
		width: 145px;
		padding: 2px;
		float: left;
		background-color: $darkred;
		margin-top: 6px;
	}
}


#registerPage {
	
	font-family: $mainFont;
	
	.h1bgRegister {
		width: 225px;
		background-color: $darkblue;
		margin: 0 auto;
		position: relative;
	}
	
	#form form {
		margin-bottom: 110px;
	}
	
	.buttonFrameContainer {
		width: 45%;
	}
	
	input.button {
		width:	100%;
		height: 36px;
	}
	
	.buttonSize {
		width:	97%;
	}
}


#loginPage {
	
	font-family: $mainFont;
	
	.h1bgLogin {
		width: 110px;
		background-color: $darkblue;
		margin: 0 auto;
		position: relative;
	}
	
	#form form {
		margin-bottom: 110px;
	}
	
	.buttonFrameContainer {
		width: 45%;
	}
	
	input.button {
		width:	100%;
		height: 36px;
	}
	
	.buttonSize {
		width:	97%;
	}
}

#logoutPage {
	font-family: $mainFont;
	font-size: 18px;
	
	.infoLink {
		left: 0%;
	}
	
	#content {
		padding: 0% 10%;
	}
}


#searchPage {
	
	.searchIcon {
		font-family: FontAwesome;
		font-size: 0.75em;
		width: 55px;
		height: 46px;
		margin-left: -27px;
		margin-top: -10px;
		background-color: $darkblue;
	}
	
	input.inputField {
		font-size: 20px;
		font-family: inherit;
		padding: 5px;
		width: 50%;
	}
	
	#form form {
		margin-bottom: 110px;
		padding-left: 0%;
	}
	
	.h1Search {
		text-align: center;
		font-family: $mainFont;	
	}
	
	.searchLabel input.inputField {
		padding-top: 17px;
	}
	

}


#searchResultPage {
	
	margin-top: -170px;

	h2 {
		margin-left: 10%;
		font-family: $mainFont;
		text-decoration: underline;
	}
	
	ul {
		margin-left: 7%;
		list-style: none;
		line-height: 3em;
		font-size: 28px;
		font-family: $mainFont;
		
		li a {
			text-decoration: none;
			color: #000;
		}
	}
	
	input.inputField {
		font-size: 20px;
		font-family: inherit;
		padding: 5px;
		width: 20%;
	}
	
	.searchPic {
		width: 100px;
		margin-right: 50px;
	}

	.searchLink {
		margin-top: 10px;
		position: absolute;
	}
	
	.searchLabel input.inputField {
		height: 40px;
	   	padding-top: 7px;
	}
	
	p.darkBlue.searchLabel {
		font-size: 28px;
		margin-left: -35%;
	}
	
	.searchResultIcon {
		font-family: FontAwesome;
		font-size: 0.75em;
		width: 55px;
		height: 40px;
		margin-left: -22px;
		margin-top: -0px;
		background-color: $darkblue;
	}	
}

#newStoryPage {
	font-family: $mainFont;
	
	.clear {
		clear: both;
		float: none;
	}
	
	.right, .left {
		width: 50%;
	}
	
	.buttonFrameContainer, .button {
		width: 180px;
	}
}

#userStoryPage {
	
	#content {
		margin-left: 10%;	
	}
	
	h2 {
		font-family: $mainFont;
		text-decoration: underline;
	}
	
	.buttonFrameContainerUserStoryContentModule {
		width: 120px;
		position: relative;
		padding: 2px;
		background-color: $darkblue;
	}
}

#userEditPage {
	
	font-family: $mainFont;
	font-size: 18px;
	
	.userEditFrameContainer {
		width: 50%;
		left: 25%;
		position: relative;
		padding: 20px;
		margin-top: 10px;
		background-color: $darkred;
	}
	
	.userEditContainer {
		background-color: $darkred;
		border: dotted 2px black;
		
		h1 {
			font-family: $mainFont;
			margin-top: -22px;
			font-size: 1.6em;
		}
	}
	
	.h1bgUserEdit {
		width: 245px;
		background-color: $darkred;
		margin: 0 auto;
		position: relative;
	}
	
	.closeFancyBox {
		margin-bottom: 20px;
	}
	
	#content {
		padding: 0px 20px;
	}
	
	input {
		&.button {
		width: 100%;
		font-size: 0.8em;
		font-family: $mainFont;
		background-color: $lightred;
		border: dotted 2px black;
		}
	
		&.inputField {
			width: 55%;
			float: left;
			height: 42px;
			margin-right: 20px;
			margin-bottom: 18px;
		}
	}
	
	.buttonFrameContainer {
		width: 40%;
		position: relative;
		padding: 2px;
		background-color: $lightred;
		float: right;
		margin-bottom: 30px;
	}
	
	.dummy {
		background-color: $darkred !important;
		margin-bottom: 50px;
	}
	
	.dummyButton {
		background-color: $darkred !important;
		border: none !important;
	}
	
	.lastButton {
		margin-bottom: 30px;
		float: left;
	}
	
	form#changePic input {
		width: 230px;
		font-size: 18px;
		font-family: $mainFont;
		background-color: $lightred;
		border: dotted 2px black;
		margin-left: 10px;
	}
	
	.fileUpload {
		position: relative;
		overflow: hidden;

		font-size: 18px;
		font-family: $mainFont;
		background-color: $lightred;
		border: dotted 2px black;
		text-align: center;
		height: 32.7px;
		line-height: 1.7;
		font-size: 18px;
	}
	
	.fileUpload input.upload {
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		padding: 0;
		font-size: 20px;
		cursor: pointer;
		opacity: 0;
		filter: alpha(opacity=0);
	}
	
	.buttonFrameContainerUpload {
		width: 40%;
		position: relative;
		padding: 2px;
		background-color: $lightred;
		float: left;
		margin-bottom: 30px;
	}
	
	#profilePicSection {
		margin-top: 20px;
	}
	
	.deleteThisPic {
		font-size: 1.5em;
		margin-left: 10px;
	}
	
	#pictureHandling .buttonFrameContainer {
		margin-top: -40px;
	}
	
	#pictureHandling {
		margin-top: -15px;
		float: left;
		width: 174px;
	}
	
	#currentPicture {
		margin-bottom: 15px;
		margin-right: 10px;
	}	
}

#newStoryPage {
	font-family: $mainFont;
	font-size: 18px;
	
	.newStoryFrameContainer {
		width: 50%;
		left: 25%;
		position: relative;
		padding: 20px;
		margin-top: 10px;
		background-color: $darkblue;
	}
	
	.newStoryContainer {
		background-color: $darkblue;
		border: dotted 2px black;
		
		h1 {
			font-family: $mainFont;
			margin-top: -22px;
			font-size: 1.6em;
		}
	}
	
	.h1bgNewStory {
		width: 220px;
		background-color: $darkblue;
		margin: 0 auto;
		position: relative;
	}
	
	.closeFancyBox {
		margin-bottom: 20px;
	}
	
	#content {
		padding: 0px 20px;
	}
	
	input {
		&.button {
		width: 100%;
		font-size: 0.8em;
		font-family: $mainFont;
		background-color: $lightblue;
		border: dotted 2px black;
		}
	
		&.inputField {
			width: 100%;
			float: left;
			height: 42px;
			margin-right: 20px;
			margin-bottom: 20px;
		}
	}
	
	.buttonFrameContainer {
		width: 40%;
		position: relative;
		padding: 2px;
		background-color: $lightblue;
		float: right;
		margin-bottom: 30px;
	}
	
	form#changePic input {
		width: 230px;
		font-size: 18px;
		font-family: $mainFont;
		background-color: $lightblue;
		border: dotted 2px black;
		margin-left: 10px;
	}
	
	.fileUpload {
		position: relative;
		overflow: hidden;

		font-size: 18px;
		font-family: $mainFont;
		background-color: $lightblue;
		border: dotted 2px black;
		text-align: center;
		height: 32.7px;
		line-height: 1.7;
		font-size: 18px;
	}
	
	.fileUpload input.upload {
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		padding: 0;
		font-size: 20px;
		cursor: pointer;
		opacity: 0;
		filter: alpha(opacity=0);
	}
	
	.buttonFrameContainerUpload {
		width: 40%;
		position: relative;
		padding: 2px;
		background-color: $lightblue;
		float: left;
		margin-bottom: 30px;
	}
	
	#profilePicSection {
		margin-top: 20px;
	}
	
	.deleteThisPic {
		font-size: 1.5em;
		margin-left: 10px;
	}
	
	#pictureHandling .buttonFrameContainer {
		margin-top: -40px;
	}
	
	.fullwidth {
		width: 100%;
	}

	input[type='checkbox'],
	input[type='radio'] {
		width: auto;
		height: auto;
		zoom: 2;
	}	
}

#errorPage {
	
	.errorFrameContainer {
		width: 30%;
		min-width: 300px;
		margin: 0 auto;
		position: relative;
		padding: 20px;
		margin-top: 10px;
		background-color: $darkblue;
	}
	
	.errorContainer {
		background-color: $darkblue;
		border: dotted 2px black;
		padding: 0% 5%;
		
		h1 {
			font-family: $mainFont;
			margin-top: -22px;
			font-size: 1.6em;
		}
	}
	
		font-family: $mainFont;
	
	.h1bgError {
		width: 110px;
		background-color: $darkblue;
		margin: 0 auto;
		position: relative;
	}
	
	.buttonFrameContainer {
		width: 200px;
		margin-bottom: 20px;
	}
	
	.buttonSize {
		width: 196px;
	}
	
	.errorContainer p {
		text-align: center;
	}	
}

#nodeEditorPage {
	#editors {
		width: 35%;
		float: right;
		margin-top: 20px;
		margin-right: 20px;
	}
		
	#storyEditor {
		background: $lightgreen;
		/*height: 31.5%;*/
		margin-bottom: 20px;
		
		.editorFrameContainer {
			background: $lightgreen;	
		}
		
		.editorContainer {
			background: $lightgreen;	
		}
		
		.h1bgEditor {
			background: $lightgreen;
		}
		
		input.button, .buttonFrameContainer {
			background: $darkgreen;
		}
		
		.buttonFrameContainer {
			margin-top: -45px;
		}
	}
	
	#pageEditor {
		background-color: $lightred;
		/*height: 31.5%;*/
		margin-bottom: 20px;
		
		.editorFrameContainer {
			background: $lightred;	
		}
		
		.editorContainer {
			background: $lightred;	
		}
		
		.h1bgEditor {
			background: $lightred;
		}
		
		input.button, .buttonFrameContainer {
			background: $darkred;
		}
	}
	
	#previewEditor {
		background: $lightbrown;
		/*height: 31.5%;*/
		
		.editorFrameContainer {
			background: $lightbrown;	
		}
		
		.editorContainer {
			background: $lightbrown;	
		}
		
		.h1bgEditor {
			background: $lightbrown;
		}
	}
	
	.editorFrameContainer {
		margin: 0 auto;
		position: relative;
		padding: 20px;
	}
	
	.h1bgEditor {
		width: 230px;
		margin: 0 auto;
		position: relative;
		
		h1 {
			text-align: center;
		}
	}
	
	.editorContainer{
		border: dotted 2px black;
		padding: 0% 5%;
		
		h1 {
			font-family: $mainFont;
			margin-top: -22px;
			font-size: 1.6em;
		}
	}
	
	.label {
		font-family: $mainFont;
	}
	
	.optionsLabel {
		margin-bottom: 25px;
	}
	
	.tellLabel {
		margin-top: 50px;
		margin-bottom: 60px;
	}
	
	input.inputField {
		width: 70%;
		float: right;
		height: 30px;
		font-family: $mainFont;
	}
	
	input.inputField.option {
		width: 34%;
		margin: 2px;
	}
	
	input.button {
		height: 30px;
		line-height: 1.3em;
	}
	
	.buttonFrameContainer {
		float: right;
		height: 30px;
	}
	
	.buttonFrameContainerPic {
		float: left;
		margin-right: 5px;
	}
	
	.buttons {
		float: right;
		margin-top: -45px;
	}
	
	.cbp-spmenu {
		background: #fff;
	}

	
}





//// RESPONSIVE /////

@media screen and (max-width: 1030px) {
	.libelle {
		left: 0%;
	}
}

@media screen and (max-width: 900px) {
	#searchResultPage p.darkBlue.searchLabel {
		margin-top: 250px;
		margin-left: 0px;
	}
}

@media screen and (max-width: 790px) {
	.libelle {
		display: none;
	}
	
	#searchPage .searchLabel {
		margin-left: 100px;
		margin-right: 100px;
		margin-top: 100px;
	}
	
	#searchResultPage input.inputField {
		width: 40%;
	}
}

@media screen and (max-width: 590px) {
	#searchPage .searchLabel {
		margin: 100 auto 0 auto;
	}
}

@media screen and (max-width: 530px) {
	#searchResultPage {
		
		input.inputField {
			width: 70%;
			margin-left: 0px;
		}
		
		h2 {
			margin: 0 auto;
		}
		
		ul {
			margin-left: 0px;
			padding-left: 0px;
		}
		
		ul li a {
			font-size: 0.6em;
		}
	}
	
}