$mainFont:  'Architects Daughter', cursive;

#pagePresentation {
	#title h2 {
		font-family: $mainFont;
		text-align: center;
		
	}
	
	#pageImage img {
		margin: 0 10%;
		width: 80%;
	}
	
	#pageText {
		font-family: $mainFont;
		text-align: center;
		width: 80%;
		margin: 10px 10%;
	}
	
	#pageOptions {
		width: 80%;
		margin: 0 10%;
	}
	
	.presentationFrame {
		border: dotted 2px black;
		margin: 0 auto;
		width: 60%;
		padding: 20px;
	}
	
}