@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300');


$mainFont:  'Architects Daughter', cursive;
$darkblue: #96C3CC;
$lightblue:  #D3ECED;

#pagePresentation {
        .transition {
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition:all 0.5s ease-in-out;
            -o-transition:all 0.5s ease-in-out;
            transition:all 0.5s ease-in-out;
        }
    
	.title h2 {
		font-family: $mainFont;
		text-align: center;
		margin-top: 50px;
		
	}
	
	.pageImage {
		text-align: center;
	}
	
	.pageImage img {
		width: 1023px;
                height: 600px;
	}
	
	.pageText {
		font-family: $mainFont;
		text-align: center;
		width: 90%;
		margin: 10px 5%;
	}
	
	.pageOptions {
		width: 90%;
		margin: 0 5%;
	}
	
	.presentationFrame {
		border: dotted 2px black;
		margin: 0 auto;
		width: 90%;
		padding: 20px;
	}
        
        .buttonFrameContainer {
		width: 48.5%;
		position: relative;
		padding: 2px;
		background-color: $darkblue;

                display: block;
                margin: 5px 0;
	}
        
        .buttonFrameContainer:nth-child(odd) {
            float: left;
        }
        
        .buttonFrameContainer:nth-child(even) {
            float: right;
        }
        
        .pageOption {
                height: 32px;
                border: black dotted 2px;
                line-height: 2em;
                text-align: center;
                font-size: 18px;
                font-family: $mainFont;
                text-decoration: none;
                color: #000;
                cursor: pointer;
        }
        
        .clearfloat {
            clear: both;
        }
	
	.buttonFrameContainerBack {
		width: 120px;
		position: relative;
		padding: 2px;
		background-color: $darkblue;
		float: right;
		margin-top: -120px;
		margin-right: 5%;
	}
	
	input.button {
		height: 32px;
		width: 100%;
		background-color: $darkblue;
                border: black dotted 2px;
                font-size: 18px;
                font-family: $mainFont;
                cursor: pointer;
	}
	
}




@media screen and (max-width: 1280px) {	
	#pagePresentation {
		.pageImage img {
			width: 853px;
			height: 500px;
		}
	}
}

@media screen and (max-width: 1080px) {	
	#pagePresentation {
		.pageImage img {
			width: 682px;
			height: 400px;
		}
	}
}

@media screen and (max-width: 1024px) {	
	#pagePresentation {
		.pageImage img {
			width: 512px;
			height: 300px;
		}
	}
}

@media screen and (max-width: 768px) {	
	#pagePresentation {
		.pageImage img {
			width: 650px;
			height: auto;
		}
	}
}

@media screen and (max-width: 649px) {	
	#pagePresentation {
		.pageImage img {
			width: 550px;
			height: auto;
		}
	}
}

@media screen and (max-width: 480px) {	
	#pagePresentation {
		.pageImage img {
			width: 400px;
			height: auto;
		}
	}
}

@media screen and (max-width: 320px) {	
	#pagePresentation {
		.pageImage img {
			width:  250px;
			height: auto;
		}
		
		.pageOptions .buttonFrameContainer {
			width: 100%;
			float: none;
		}
	}
	
}
	