body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}


#container{
    overflow:hidden;
    border: 2px dotted #000;
}

#wrapper{
    width: 60%;
    margin:10px;
    padding:20px;
    float:left;
    background-color: #d3edf0;
    position:relative;
}

@media screen and (max-width: 1145px) {
    #wrapper{
        width: 55%;
    }
    
}

@media screen and (max-width: 850px) {
    #wrapper {
        width: 95%;
        margin:0;
        padding: 2%;
        float: none;
        margin: 0 auto !important;
    }
    #mobile{
       padding: 10px;
    }
}

/*#pageeditor{
    float:right;
    width:35%;
    margin:20px;
    background-color: #dedeff;
}*/
