<link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


<div id="newStoryPage">
    <div class="newStoryFrameContainer">
        <div class="newStoryContainer">
            <div id="content">
                <div class="h1bgNewStory"><h1>NEW STORY</h1></div>
                
                <form method="POST"  action="/Storytelling/users/KasnocknDave/newStory" id="changeName" name="changeName">
                        <label>WHAT IS THE NAME OF YOUR STORY?</label><br>
                        <input class="inputField" type="text" name="storyName" required />
                
                        <div class="buttonFrameContainer fullWidth"><input class="button" type="submit" value="CREATE STORY" /></div>
                </form>
                
                <div class="closeFancyBox"><input class="button" type="button" value="CLOSE" /></div>
                
            </div>
        </div>
    </div>
</div>