Nur mal so zum testen...

<h1 class="test">Geht schon</h1>

<div id="newStoryPage">
    <div class="left">
        <p class="label">TITLE<br> <input class="inputField" type="text" name="storyTitle"/></p>
        <p class="label">AUTOR<br> <input class="inputField" type="text" name="storyAutor" /></p>
        <p class="label">CO-AUTOR<br> <input class="inputField" type="text" name="storyCoAutor" /></p>
        <p class="label">TITLE FIRST NODE<br> <input class="inputField" type="text" name="storyTitleFirstNode" /></p>
    </div>
    <div class="right">
        <p class="label">PUBLISH<br> <input class="inputField" type="checkbox" name="storyPublished" /></p>
        <p class="label">PIC<br> <input class="inputField" type="text" name="storyPic" /></p>
    </div>
    <div class="clear">
        <p><input type="hidden" name="proof" value="proofForMe"/></p>
        <p><div class="buttonFrameContainer"><input class="button" type="submit" value="CREATE STORY"/></div></p>
    </div>
</div>