<link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


<div id="newStoryPage">
    <div class="newStoryFrameContainer">
        <div class="newStoryContainer">
            <div id="content">
                <div class="h1bgNewStory"><h1>NEW STORY</h1></div>
                
                <form method="POST" id="changeName" name="changeName">
                        <label>TITLE</label><br>
                        <input class="inputField" type="text" name="storyTitle" required />
                        
                        <label>AUTOR</label><br>
                        <input class="inputField" type="text" name="storyAutor" required />
                        
                        <label>CO-AUTOR</label><br>
                        <input class="inputField" type="text" name="storyCoAutor" required />
                        
                        <label>TITLE FIRST NODE</label><br>
                        <input class="inputField" type="text" name="storyTitleFirstNode" required />
                        
                        <div class="buttonFrameContainer fullWidth" id="pictureHandling">
                            <input class="button ajaxFormTrigger" type="button" id="changePictureButton" value="UPLOAD PIC" /><br>
                        </div>
                        
                        <label>PUBLISH STORY YET</label><br>
                        <input class="inputField" type="checkbox" name="storyPublished" required />
                
                        <div class="buttonFrameContainer fullWidth"><input class="button" type="submit" value="CREATE STORY" /></div>
                </form>
                
                <div class="closeFancyBox"><input class="button" type="button" value="CLOSE" /></div>
                
            </div>
        </div>
    </div>
</div>