<link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<div id="logState">
    {{LOGSTATE}}
</div>

<div id="nodeEditorPage">

	<div class="storyInformationDiv" data-story = "{{STORYNAME}}" />

    <div class="canvas"><div class="nodeEditorFrameContainer"><div class="h1bgNodeEditor"><h1>NODE-EDITOR</h1></div></div></div>

    <button id="showRight">Show/Hide Editors Responsive</button>

        <div id="mobile">
        <div id="wrapper">
                <div id="container"></div>
        </div>
        </div>


        <script type="text/javascript" src="/Storytelling/public/javascript/function.js"></script>

        <div id="editors">
            <div id="storyEditor">
                <div class="editorFrameContainer">
                    <div class="editorContainer">
                        <div class="h1bgEditor"><h1><a class="storyToggle" name="toggle">STORY-EDITOR <i id="toggleButton" class="fa fa-angle-up"></i></a></h1></div>
                        <form class="storyForm">
                            <p class="label">TITLE <input class="inputField storyTitle" type="text" name="storyTitle" value=""/></p>
                            <p class="label">AUTOR <input class="inputField storyAuthor" type="text" name="storyAutor" value=""/></p>
                            <p class="label">CO-AUTOR <input class="inputField storyCoAuthor" type="text" name="storyCoAutor" value=""/></p>
                            <p class="label lastLabel">PUBLISH <input class="inputField isPublished" type="checkbox" name="storyPublished"/></p>

                            <div class="buttonFrameContainer buttonFrameContainerSave"><input class="button saveStory" type="button" value="SAVE" /></div>
                        </form>
                        <div class="storyForm imgDivStory">		
                            <div class="currPicDiv"><img src="/Storytelling/public/images/dummyProfile.jpg" alt="CurrentPicture" id="currentPicture" class="currentStoryPicture"></div>
                            <div class="buttonFrameContainer" id="pictureHandling">
                                <input class="button ajaxFormTrigger changePictureButton storyPicture" type="button" value="CHANGE PIC" /><br>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>


             <div id="pageEditor">
                <div class="editorFrameContainer">
                    <div class="editorContainer">
                        <div class="h1bgEditor"><h1><a class="pageToggle" name="toggle">PAGE-EDITOR <i class="fa fa-angle-up"></i></a></h1></div>
                        <form class="pageForm">
                            <p class="label">TITLE <input class="inputField titleEdit" type="text" name="pageTitle" value=""/></p>
                            <span class="label optionsLabel">OPTIONS</span>
                                                    <div class="optionsDiv">
                                                        <input class="inputField option opt1" type="text" name="pageOption1" value=""/>
                                                        <input class="inputField  option opt2" type="text" name="pageOption2" value=""/>
                                                        <input class="inputField option opt3" type="text" name="pageOption3" value=""/>
                                                        <input class="inputField option opt4" type="text" name="pageOption4" value=""/>
                                                    </div>
                            <p class="label tellLabel">TEXT <textarea class="inputField textEdit" rows="4" type="text" name="pageTell" value=""></textarea></p>

                            <div class="buttons">
                                <!--<div class="buttonFrameContainer buttonFrameContainerPic" id="pictureHandling">
                                    <input class="button ajaxFormTrigger" type="button" id="changePictureButton" value="SAVE PIC" /><br>
                                </div>-->

                                <div class="buttonFrameContainer"><input class="button savePage" type="button" value="SAVE" /></div>
                            </div>
                        </form>
			<div class="pageForm imgDivPage">		
                            <div class="currPicDiv"><img src="/Storytelling/public/images/dummyProfile.jpg" alt="CurrentPicture" id="currentPicture" class="currentPagePicture"></div>
                            <div class="buttonFrameContainer buttonFrameContainerPicPage" id="pictureHandling">
                                <input class="button ajaxFormTrigger changePictureButton pagePicture" type="button" value="CHANGE PIC" /><br>
                            </div>
			</div>				
                    </div>
                </div>
            </div>

            <div id="previewEditor">
                <div class="editorFrameContainer">
                    <div class="editorContainer">
                        <div class="h1bgEditor"><h1><a class="previewToggle" name="toggle">PREVIEW <i class="fa fa-angle-up"></i></a></h1></div>
                        <div class="previewFrame"></div>
                    </div>
                </div>
            </div>

        </div>



<!--            ///// RESPONSIVE EDITORS ///////-->
        <div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
            <p>
                <div class="buttonFrameContainer closeButton"><input id="closeResponsiveNav" class="button" type="button" value="CLOSE" /></div>
            </p>

            <div id="storyEditor">
                <div class="editorFrameContainer storyEditorResponsive">
                    <div class="editorContainer">
                        <div class="h1bgEditor"><h1><a class="storyToggle" name="toggle">STORY-EDITOR <i class="fa fa-angle-up"></i></a></h1></div>
                        <form class="storyForm">
                            <p class="label">TITLE <input class="inputField storyTitle" type="text" name="storyTitle" value=""/></p>
                            <p class="label">AUTOR <input class="inputField storyAuthor" type="text" name="storyAutor" value=""/></p>
                            <p class="label">CO-AUTOR <input class="inputField storyCoAuthor" type="text" name="storyCoAutor" value=""/></p>
                            <p class="label lastLabel">PUBLISH <input class="inputField isPublished" type="checkbox" name="storyPublished"/></p>

                            <div class="buttonFrameContainer buttonFrameContainerSave"><input class="button saveStory" type="button" value="SAVE" /></div><br>
                        </form>
                        <div class="storyForm imgDivStory">
                            <div class="currPicDiv"><img src="/Storytelling/public/images/dummyProfile.jpg" alt="CurrentPicture" id="currentPicture" class="currentStoryPicture"></div>
                            <div class="buttonFrameContainer" id="pictureHandling">
                                <input class="button ajaxFormTrigger changePictureButton storyPicture" type="button" value="CHANGE PIC" /><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


             <div id="pageEditor">
                <div class="editorFrameContainer">
                    <div class="editorContainer">
                        <div class="h1bgEditor"><h1><a class="pageToggle" name="toggle">PAGE-EDITOR <i class="fa fa-angle-up"></i></a></h1></div>
                        <form class="pageForm">
                            <p class="label">TITLE <input class="inputField titleEdit" type="text" name="pageTitle" value=""/></p>
                            <span class="label optionsLabel">OPTIONS</span>
                                                    <div class="optionsDiv">
                                                        <input class="inputField option opt1" type="text" name="pageOption1" value=""/>
                                                        <input class="inputField  option opt2" type="text" name="pageOption2" value=""/>
                                                        <input class="inputField option opt3" type="text" name="pageOption3" value=""/>
                                                        <input class="inputField option opt4" type="text" name="pageOption4" value=""/>
                                                    </div>
                            <p class="label tellLabel">TEXT <textarea class="inputField textEdit" rows="4" type="text" name="pageTell" value=""></textarea></p>
                            <div class="buttons">
<!--                                <div class="buttonFrameContainer buttonFrameContainerPic" id="pictureHandling">
                                    <input class="button ajaxFormTrigger" type="button" id="changePictureButton" value="SAVE PIC" /><br>
                                </div>-->

                                <div class="buttonFrameContainer"><input class="button savePage" type="button" value="SAVE" /></div>
                            </div>
                        </form>
                        <div class="pageForm imgDivPage">		
                            <div class="currPicDiv"><img src="/Storytelling/public/images/dummyProfile.jpg" alt="CurrentPicture" id="currentPicture" class="currentPagePicture"></div>
                            <div class="buttonFrameContainer" id="pictureHandling">
                                <input class="button ajaxFormTrigger changePictureButton pagePicture" type="button" value="CHANGE PIC" /><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="previewEditor">
                <div class="editorFrameContainer">
                    <div class="editorContainer">
                        <div class="h1bgEditor"><h1><a class="previewToggle" name="toggle">PREVIEW <i class="fa fa-angle-up"></i></a></h1></div>
                        <div class="previewFrame"></div>
                    </div>
                </div>
            </div>
        </div>



    <script src="js/classie.js"></script>
    <script>
        var menuRight = document.getElementById( 'cbp-spmenu-s2' ),
            showRight = document.getElementById( 'showRight' ),
            closeResponsiveNav = document.getElementById( 'closeResponsiveNav' ),
            body = document.body;

        showRight.onclick = function() {
            classie.toggle( this, 'active' );
            classie.toggle( menuRight, 'cbp-spmenu-open' );
            disableOther( 'showRight' );
        };

        function disableOther( button ) {
            if( button !== 'showRight' ) {
                    classie.toggle( showRight, 'disabled' );
            }
        }


        $("#closeResponsiveNav").click(function() {
            $( "#cbp-spmenu-s2" ).removeClass( 'cbp-spmenu-open' );
        });




        ///Toggle////

        $(document).ready(function(){
            $(".storyToggle").click(function(){
                $(".storyForm").toggle('slow');
                $("i",this).toggleClass("fa-angle-down fa-angle-up");
            });
        });

        $(document).ready(function(){
            $(".pageToggle").click(function(){
                $(".pageForm").toggle('slow');
                $("i",this).toggleClass("fa-angle-down fa-angle-up");
            });
        });

        $(document).ready(function(){
            $(".previewToggle").click(function(){
                $(".previewFrame").toggle('slow');
                $("i",this).toggleClass("fa-angle-down fa-angle-up");
            });
        });
    </script>


</div>