<link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<div id="logState">
    {{LOGSTATE}}
</div>

<div id="nodeEditorPage">

    
    <div class="canvas">NODE-EDITOR</div>
    
    <div class="editors">
        <div id="wrapper"><div id="container"></div>
		</div>
		<script type="text/javascript" src="/Storytelling/public/javascript/function.js"></script>
    </div>
    
</div>