<link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


<div id="nodeEditorPage" style="padding: 20px;">

    
    <div class="canvas" style="background-color: yellow; height: 400px; width: 60%; float: left;">NODE-EDITOR</div>
    
    <div class="editors" style="background-color: blue; height: 400px; width: 38%; float: right;">
        <div class="storyEditor" style="width: 95%; margin: 0 auto; background-color: green; height: 50px;">
            <div class="h1bgStoryEditorEdit"><h1>STORY-EDITOR</h1></div>
        </div>
        
        <div class="pageEditor" style="width: 95%; margin: 0 auto; background-color: red; height: 50px;">
            <div class="h1bgPageEditorEdit"><h1>PAGE-EDITOR</h1></div>  
        </div>
        
        <div class="preview" style="width: 95%; margin: 0 auto; background-color: brown; height: 50px;">
            <div class="h1bgPreviewEdit"><h1>PREVIEW</h1></div>   
        </div>
    </div>
    
</div>