<link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300' rel='stylesheet' type='text/css'>

<div id="registerPage">
    <div class="registerFrameContainer">
        <div class="registerContainer">
            <div id="form">
                <div class="h1bgRegister"><h1>REGISTRATION</h1></div>
                {{FORM}}
            </div>
        </div>
    </div>
</div>