<link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<div id="logState">
    {{LOGSTATE}}
</div>

<div id="searchResultPage">
    <div id="form">
        <!--<div class="h1Search"><h1>SEARCH:</h1></div>-->
        {{FORM}}
    </div>
</div>