<link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<script>
    // Close Fancybox and Reload
    //document.getElementById("uploadBtn").onchange = function () {
     //   document.getElementById("uploadFile").value = this.value;
    //};
</script>

<div id="userEditPage">
    <div class="userEditFrameContainer">
        <div class="userEditContainer">
            <div id="content">
                <div class="h1bgUserEdit"><h1>EDIT MY INFO</h1></div>
                
                <form method="POST" id="changeName" name="changeName"  class="handledAjaxForm">
                        <label>NAME</label><br>
                        <input class="inputField loadData" placeholder="ads" type="text" name="userName" required />
                        <div class="buttonFrameContainer"><input class="button" type="submit" value="CHANGE NAME" /></div>
                </form>
                
                <form method="POST" id="changeEmail" name="changeEmail"  class="handledAjaxForm">
                        <label>EMAIL</label><br>
                        <input class="inputField loadData" type="email" name="userMail" required />
                        <div class="buttonFrameContainer"><input class="button" type="submit" value="CHANGE E-MAIL" /></div>
                </form>
                
                <form method="POST" id="changePassword" name="changePassword"  class="handledAjaxForm">
                        <label>PASSWORD</label><br>
                        <input class="inputField" type="text" name="userPassword" required />
                        <div class="buttonFrameContainer dummy"><input class="button dummyButton" type="submit" value="" /></div>
                        <label>CONFIRM PASSWORD</label><br>
                        <input class="inputField" type="text" name="userPasswordAgain" required />
                        <div class="buttonFrameContainer"><input class="button" type="submit" value="CHANGE PASSWORD" /></div>
                </form>
                
                <div class="currPicDiv"><img src="/Storytelling/public/images/dummyProfile.jpg" alt="CurrentPicture" id="currentPicture" class="currentUserPicture"></div>
                <div class="buttonFrameContainer" id="pictureHandling">
                <input class="button ajaxFormTrigger userPicture" type="button" id="changePictureButton" value="CHANGE PICTURE" /><br>
		</div>
                
                
                <!--<img src="/Storytelling/public/images/dummyProfile.jpg" alt="CurrentPicture" id="currentPicture"><br>
                <div class="buttonFrameContainerUpload">
                    <div class="button fileUpload" id="pictureHandling">
                        <span>UPLOAD</span>
                        <input id="uploadBtn" type="file" class="ajaxFormTrigger upload" />
                    </div>
                </div>-->
                
                <div class="closeFancyBox"><input class="button" type="button" value="CLOSE" /></div>
                
            </div>
        </div>
    </div>
</div>
