<form method="POST" id="changeName" name="changeName">
	<label>Name:</label><br>
	<input type="text" name="userName" required />
	<input type="submit" value="Change Name" />
</form>

<form method="POST" id="changeEmail" name="changeEmail">
	<label>E-Mail:</label><br>
	<input type="email" name="userMail" required />
	<input type="submit" value="Change Email" />
</form>

<form method="POST" id="changePassword" name="changePassword">
	<label>Password:</label><br>
	<input type="text" name="userPassword" required /><br><br>
	<label>Password Again:</label><br>
	<input type="text" name="userPasswordAgain" required />
	<input type="submit" value="Change Password" />
</form>

<div id="pictureHandling">
<img src="/Storytelling/public/images/dummyProfile.jpg" alt="CurrentPicture" id="currentPicture">
<input type="button" id="changePictureButton" value="Change Picture" />
</div>