<div id="pagePresentation">
    <div class="presentationFrame">
	<div id="title">
	    <h2>Default-Title</h2>
	</div>
	<div id="pageImage">
		<img src="defaultImage.jpg" alt="defaultImage" />
	</div>
	<div id="pageText">
		DefaultText
	</div>
	<div id="pageOptions">
	</div>
	<div class="clearfloat"></div>
    </div>
</div>

<div id="storyNav">
	<div id="storyTitle">{{STORYTITLE}}</div>
	<div id="bookmarkStory" class="navButton">Bookmark</div>
	<div id="exitStory" class="navButton">Exit</div>
</div>

<div id="storyOverhead" data-story-name="{{STORYTITLE}}" />