<link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<div id="logState">
    {{LOGSTATE}}
</div>

<div id="profilePage">
    <div class="profileFrameContainer">
        <div class="profileContainer">
            <div class="h1bgLogin"><h1>PROFILE</h1></div>
            <div class="myInfoFrameContainer">
                <div class="myInfoContainer">
                    <div class="h1bgLoginInfo"><h1>MY INFO</h1></div>
                    <div id="content">
                        <div class="left firstColumn">
                            <p><span class="profileLable">USERNAME:</span> {{USERNAME}}</p><!--<div class="buttonFrameContainerStoryInfo"><input class="buttonStoryInfo" type="submit" value="EDIT"/></div>-->
                            <p><span class="profileLable">E-MAIL:</span> {{USERMAIL}}</p><!--<div class="buttonFrameContainerStoryInfo"><input class="buttonStoryInfo" type="submit" value="EDIT"/></div>-->
                            <p><span class="profileLable">LEVEL:</span> {{USERLEVEL}}</p><!--<div class="buttonFrameContainerStoryInfo"><input class="buttonStoryInfo" type="submit" value="EDIT"/></div>-->
                            {{INFO}}
                        </div>
                        <div class="left">
                            <p>PROFILE PIC:</p>
                            <img class="profilePic" src="dummyProfile.jpg" alt="profile" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="myStoryFrameContainer">
                <div class="myStoryContainer">
                    <div class="h1bgLoginStory"><h1>MY STORIES</h1></div>
                    <div id="content">
						
						{{STORIES}}
                        
                        <div class="storyPicFrame">
							<a href="">
								<img class="storyPic" src="dummyNewStory.jpg" alt="newStory" />
								<p class="storyTitle">NEW STORY</p>
							</a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>