<link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<div id="logState">
    {{LOGSTATE}}
</div>

<div id="profilePage">
    <div class="profileFrameContainer">
        <div class="profileContainer">
            <div class="h1bgProfile"><h1>PROFILE</h1></div>
            <div class="myInfoFrameContainer">
                <div class="myInfoContainer">
                    <div class="h1bgProfileInfo"><h1><a class="infoToggle transition" name="toggle">MY INFO <i class="fa fa-angle-up"></i></a></h1></div>
                    <div id="content" class="infoContent">
                        <div class="left firstColumn">
                            <p><span class="profileLable">USERNAME:</span> {{USERNAME}}</p>
                            <p><span class="profileLable">E-MAIL:</span> {{USERMAIL}}</p>
                            <p><span class="profileLable">LEVEL:</span> {{USERLEVEL}}</p>
                            {{INFO}}
                        </div>
                        <div class="left">
                            <p>PROFILE PIC:</p>
                            <img class="profilePic" src="{{PICPATH}}/profile/{{USERIMAGE}}" alt="profile" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="myStoryFrameContainer">
                <div class="myStoryContainer">
                    <div class="h1bgProfileStory"><h1><a class="storiesToggle transition" name="toggle">MY STORIES <i class="fa fa-angle-up"></i></a></h1></div>
                    <div id="content" class="storiesContent">
						
						{{STORIES}}
                        
                        <div class="storyPicFrame">
							<a class="fancybox fancybox.ajax" href="../data/templates/newStoryTemplate.html">
								<img class="storyPic" src="{{PICPATH}}/dummyNewStory.jpg" alt="newStory" />
								<p class="storyTitle">NEW STORY</p>
							</a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <script>
        ///Toggle////
        
         $(document).ready(function(){
            $(".infoToggle").click(function(){
                $(".infoContent").toggle('slow');
                $("i",this).toggleClass("fa-angle-down fa-angle-up");
            });
        });
        
        $(document).ready(function(){
            $(".storiesToggle").click(function(){
                $(".storiesContent").toggle('slow');
                $("i",this).toggleClass("fa-angle-down fa-angle-up");
            });
        });
    </script>
    
</div>