<div id="logState">
    {{LOGSTATE}}
</div>

<div id="userStoryPage">
    <div id="content">
        <!-- <h1>The selected story</h1>-->
        <div class="left infoWidth">{{INFO}}</div>
        
        <div class="storyPageInformation left">
                <h2>ABOUT THE STORY</h2>
                <img src="{{IMAGE}}" alt="The story picture">
                <div class="storyPageAuthor">Author: {{AUTHOR}}</div>
                <div class="storyPageCoAuthor"> Co-Author: {{COAUTHOR}}</div>
        </div>
    </div>
</div>